<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login Page</title>
</head>

<body>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <div>
        <label for="email" style="background-color:#6201ea;" class="btn btn-primary form-control">Forgot
            Password<a href='/' class="form-group" style="float: right;  color:#FFFFFF;" onclick="redirect()">cancel</a></label>
    </div>
    <div class="container">
        <style>
            .container {
                margin-top: 1%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        </style>
        <div class="col-xs-8" align="center">
            <div class="form-group">
                <input type="email" class="form-control" id="email" name="email" placeholder="Email Address">
            </div>
            <div class="form-group">
                <button type="submit" style="background-color:#6201ea;" class="btn btn-primary form-control" id="btn"
                    onclick="unhide()">Get OTP</button>
            </div>
        </div>
    </div>
    <div class="container">
        <p id="failure"></p>
        <div id="div" align="center" style="display: none;">
            <form method="POST" action="/otpsubmit">
                <div>
                    <p>Please enter OTP</p>
                </div>
                <div id="divouter">
                    <div id="divInner">
                        <input id="otp" name='otp' type="text" maxlength="4" />
                    </div>
                </div>
                <script>
                    var obj = document.getElementById('otp');
                    obj.addEventListener('keydown', stopCarret);
                    obj.addEventListener('keyup', stopCarret);

                    function stopCarret() {
                        if (obj.value.length > 3) {
                            setCaretPosition(obj, 3);
                        }
                    }

                    function setCaretPosition(elem, caretPos) {
                        if (elem != null) {
                            if (elem.createTextRange) {
                                var range = elem.createTextRange();
                                range.move('character', caretPos);
                                range.select();
                            }
                            else {
                                if (elem.selectionStart) {
                                    elem.focus();
                                    elem.setSelectionRange(caretPos, caretPos);
                                }
                                else
                                    elem.focus();
                            }
                        }
                    }
                </script>
                <div>
                    <input type="submit" style="background-color:#6201ea;" id="otpsubmit" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
    {% block content %}
    <div class="container">
        <!-- <div class="alert alert-warning"> -->
        {% for message in get_flashed_messages() %}
        <button type="button" class="close" style="color:red" data-dismiss="alert">&times;</button>
        <p style="color:red;font-size: xx-large;">{{ message }}</p>
        <!-- </div> -->
        {% endfor %}
        {% block page_content %}{% endblock %}
        {% endblock %}
    </div>
    <script>
        function unhide() {
            if (document.getElementsByName('email')[0].value != '') {
                $.post('/emailreset',
                    {
                        email: document.getElementsByName('email')[0].value
                    },
                    function (data, status, jqXHR) {
                        console.log(status)
                        if (data['status'] == "success") {
                            // document.getElementById('failure').innerHTML = 'Please enter otp'
                            var x = document.getElementById("div");
                            x.style.display = "block"
                        }
                        else {
                            document.getElementById('failure').innerHTML = "Failed to send otp plese try again"
                        }
                    }
                )
            }
            else {
                alert('Please fill out email')
            }
        }
    </script>
    <style>
        #otp {
            padding-left: 15px;
            letter-spacing: 42px;
            border: 0;
            background-image: linear-gradient(to left, black 70%, rgba(255, 255, 255, 0) 0%);
            background-position: bottom;
            background-size: 50px 1px;
            background-repeat: repeat-x;
            background-position-x: 35px;
            width: 220px;
            min-width: 220px;
        }

        #divInner {
            left: 0;
            position: sticky;
        }

        #divouter {
            width: 190px;
            overflow: hidden;
        }
    </style>
    <script>
        function redirect() {
            window.location.href = '/';
        }
    </script>
</body>
